* {
    margin: 0;
    padding: 0;
   
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{

    max-width: 100%;
    margin: 0 auto;
}
header nav{
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h1{
    color: #434343;
}
header h1 {
    font-size: 1.5rem;
}
header nav .sign_in{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

header section{
    padding: auto;
    margin: auto;
}
header section img{
    width:100%;
    height:500px;
}
header section .elmnt_center{
    width: 40%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header section .elmnt_center h1{
    color: white; 
}

header section .elmnt_center input{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(143, 140, 140);
}

header section .elmnt_center button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
/*   header END    */



/*     MAIN     */

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.content .img_desc{
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
    
    padding: 10px;
}
.content .img_desc img{
    height: 117px;
    width: 38%;
}
.content .img_desc p{
    color: rgb(95, 93, 93);
}
.content .img_desc:last-child{
    margin-right: 0;
}
section h1 {
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button.sign_in {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    background-color: #017bff;
    color: #fff;
    cursor: pointer;
}

button.sign:hover,
input[type="submit"]:hover {
    background-color: #b5e1ff;
}
/*     MAIN END     */


/*       FOOTER    */
footer {
    background-color: #e4e4e4;
    color: #000000;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #72a0f5;
    text-decoration: none;
}

footer p {
    margin-bottom: 20px;
}

footer div {
    margin-top: 20px;
}

footer div a {
    margin-right: 10px;
}

footer .social-icons{
    padding-top: 10px;
}

footer div a img {
    width: 30px;
    height: 30px;
}